<%= form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <input type = "text" name = "article[title]" value = "<%= @article.title %>" >
  </p>
  <p>
    <%= f.label :body %><br />
    <textarea name = "article[body]" > <%= @article.body %> </textarea>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
